@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";

 /* * {
  outline: 1px solid red;
} */

body {
font-family: 'Poppins', sans-serif;
overflow-x: hidden;

/* --main-color : #283618; */
--main-color : #592e83;
--sec-color: #eec7fc;
/* --tertiary-color: #dda15e; eeba0b; */
--tertiary-color: #c9a227;
/* --secondary-color : #AFD5AA; */
--text-color: #fefeff;
--bd : #E9EBF8;
--by: #FAFFFD;
--textColor : #151b2c;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease forwards;
}
